<h1>ブログ一覧</h1>
<div><%= link_to "新規投稿", new_blog_path %></div>
<% @blogs.each do |blog| %>
  <div>
    <p><%= link_to blog.title, blog_path(blog.id) %></p>
    <p><%= image_tag blog.user.get_profile_image, size: "100x100" %></p>
    <p><%= blog.user.name %></p>
  </div>
<% end %>
